<div class='js-form-item form-item js-form-type-select form-type-select js-form-item-provincia-filter form-item-provincia-filter'>
    <span class='nowrap columna1'>
        <input type='radio' name='valor' id='radioValor0' class='radioMaps' value='tempmedia' > Temperatura Media (ºC)
    </span>
    <span class='nowrap'>
        <input type='radio' name='valor' id='radioValor4' class='radioMaps' value='tempmax'> Temperatura M&aacute;xima (ºC)
    </span>
    <span class='nowrap'>
        <input type='radio' name='valor' id='radioValor8' class='radioMaps' value='tempmin'> Temperatura M&iacute;nima (ºC)
    </span>
</div>