<div class='js-form-item form-item js-form-type-select form-type-select js-form-item-provincia-filter form-item-provincia-filter'>
    <span class='nowrap columna1'
        <input type='radio' name='valor' id='radioValor1' class='radioMaps' value='humedadmedia'> Humedad Media (%)
    </span>
    <span class='nowrap'>
        <input type='radio' name='valor' id='radioValor5' class='radioMaps' value='humedadmax'> Humedad M&aacute;xima (%)
    </span>
    <span class='nowrap'>
        <input type='radio' name='valor' id='radioValor9' class='radioMaps' value='humedadmin'> Humedad M&iacute;nima (%)
    </span>
</div>